.container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.content-cover{
    width: 600px;
    margin-bottom: 20px;
}

.content-title{
    font-size: 4em;
}

.content-categories{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}


.playtime{
   
    text-align: center;
    padding: 2px 8px;
    margin: 5px;
    font-size: 0.8rem;
    background: #6a6b6a;
    list-style: none;
}

.content-description{
    color: lightgrey;
}
.content-description, .content-review{
    width: 800px;
    margin-top: 30px;
}

.container-screenshots{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-screenshots-title{
    font-size: 2rem;
    margin-top: 30px;
}

.screenshot{
    width: 300px;
    margin: 30px 20px 0px 20px;
    border: 2px solid white;
    transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
}

.screenshot:hover {
    -webkit-transform: scale(3);
    transform: scale(3);
}

.content-return{
    margin: 100px 0 100px;

}

.content-return > a{
    font-size: 1.2rem;
}