.container__menu-title{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-title{
    font-size: 4rem;
    margin-bottom: 10px;

}
.menu-title-description{
    font-size: 1.2rem;
    color: lightgray;
}
