<app-menu-title
    blogTitle="Myron Arth's Blog"
    blogDescription="A blog to post the games that I enjoyed playing the most in 2023."
></app-menu-title>

<div class="container__articles">
    <app-big-card
        Id="1"
        bigCardTitle="2023 Favorite: OCTOPATH TRAVELER"
        bigCardDescription="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore omnis sint, voluptatem nemo deleniti, provident illum eum reprehenderit sit molestiae debitis vitae! Ipsam unde illo perferendis excepturi cum ullam facilis? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem animi officia adipisci velit totam et quia unde quo incidunt eos, esse neque labore soluta error eveniet minus ipsa id nulla."
        bigCardImg="/assets/imgs/octopath-traveller-big-card.jpg"
        bigCardImgAlt="OCTOPATH TRAVELER picture"
    ></app-big-card>
    <div class="container__small-cards">
        <app-small-card
            Id="2"
            smallCardImg="/assets/imgs/persona-5-strikers-small-card.jpg"
            smallCardImgAlt="Persona 5 Strikers picture"
            smallCardCategory="steam" 
            smallCardDescription="Persona 5 Strikers"
            smallCardDate="31/05/2023"
        ></app-small-card>
        <app-small-card
            Id="3"
            smallCardImg="/assets/imgs/chained-echoes-small-card.jpg"
            smallCardImgAlt="Chained Echoes picture"
            smallCardCategory="xbox" 
            smallCardDescription="Chained Echoes"
            smallCardDate="06/08/2023"
        ></app-small-card>
        <app-small-card
            Id="4"
            smallCardImg="/assets/imgs/sea-of-stars-small-card.jpg"
            smallCardImgAlt="Sea of Stars picture"
            smallCardCategory="xbox" 
            smallCardDescription="Sea of Stars"
            smallCardDate="21/09/2023"
        ></app-small-card>
        <app-small-card
            Id="5"
            smallCardImg="/assets/imgs/dbz-kakarot-small-card.jpg"
            smallCardImgAlt="DRAGON BALL Z: KAKAROT picture"
            smallCardCategory="steam" 
            smallCardDescription="DRAGON BALL Z: KAKAROT"
            smallCardDate="21/01/2023"
        ></app-small-card>
        <app-small-card
            Id="6"
            smallCardImg="/assets/imgs/monster-hunter-world-small-card.jpg"
            smallCardImgAlt="Monster Hunter: World picture"
            smallCardCategory="steam" 
            smallCardDescription="Monster Hunter: World"
            smallCardDate="17/02/2023"
        ></app-small-card>
        <app-small-card
            Id="7"
            smallCardImg="/assets/imgs/slime-rancher-small-card.jpg"
            smallCardImgAlt="Slime Rancher picture"
            smallCardCategory="steam" 
            smallCardDescription="Slime Rancher"
            smallCardDate="14/07/2023"
        ></app-small-card>
        <app-small-card
            Id="8"
            smallCardImg="/assets/imgs/thirsty-suitors-small-card.jpg"
            smallCardImgAlt="Thirsty Suitors picture"
            smallCardCategory="xbox" 
            smallCardDescription="Thirsty Suitors"
            smallCardDate="05/11/2023"
        ></app-small-card>
        <app-small-card
            Id="9"
            smallCardImg="/assets/imgs/solar-ash-small-card.jpg"
            smallCardImgAlt="Solar Ash picture"
            smallCardCategory="xbox" 
            smallCardDescription="Solar Ash"
            smallCardDate="24/09/2023"
        ></app-small-card>  
    </div>
</div>
